.questionPapersPage__container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 98%;
  margin: auto;
  column-gap: 10px;
}

.questionPapersPage__heading {
  text-align: center;
  color: #a6192e;
  margin-top: 10px;
  margin-bottom: 20px;
}
