/* .contacts__row {
  display: flex;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

#row__one {
  background-color: violet;
}

#row__two {
  background-color: green;
}

#row__three {
  background-color: yellow;
}

#row__four {
  background-color: orange;
}

#row__five {
  background-color: red;
}

.rotate {
  display: flex;
  align-items: center;
  justify-content: left;
}

.rotate span {
  display: inline-block;
  transform: rotate(-90deg);
}

.contacts__heading {
  flex-grow: 1;
  text-align: center;
  font-size: 50px;
  padding: 20px 0px;
}

.contacts__content {
  display: none;
}

.contacts__row:hover {
  cursor: pointer;
}

.contacts__heading__new {
  flex-grow: 0.001;
  font-size: 20px;
  font-weight: 700;
}

.contacts__content__new {
  flex-grow: 0.999;
  background-color: white;
}

ul {
  list-style-position: inside;
}

@media (max-width: 1200px) {
  .contacts__row {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .contacts__row {
    max-width: 600px;
  }
} */
.emergency {
  padding: 30px 0 0 0;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}
.emergency li {
  padding: 13px;
  border: 1px solid blanchedalmond;
}
.emergency ul {
  margin: 21px 61px 61px 61px;
}
/* .temph2{
    padding: 0 0 10px 0;
 } */
.emergency h1 {
  text-align: center;
  margin-bottom: 20px;
}
.emergency a {
  color: #a6192e;
}
.emergency p{
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.emergency h2{
  margin-left: 60px;
  font-size: 18px;
  margin-bottom: 5px;
}
