
.containerf{
    display: flex;
    align-items: center;
    /* width: 90%;
    max-width: 1200px; */
    width: 100%;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}
.accordion-item{
    background-color: dimgray;
   
    margin-bottom: .5rem;
    padding: .5rem;
    /* box-shadow: .5rem 2px .5rem rgba(0, 0, 0,.1); */
}
.accordion-link{
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color:darkgray;
 

}
/* .answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top:50%;
    left: 0;
   
    background-color: #8fc460;
} */
.answer p{
    padding: 1rem;
    color: white;
    font-size: 1rem;
}
.accordion-item:target .answer{
max-height: 20rem;
}
.accordion-item:target .accordion-link .down{
    display: none;
}
.accordion-item:target .accordion-link .up{
    display: block;
}
.accordion-link .up{
    display: none;
}

