.about {
  margin: 100px auto;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}
.about h1 {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #a6192e;
}
.about h2 {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 26px;
}
.about p {
  color: #575757;
}

.home__btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: all 0.25s ease-out;
  font-size: 16px;
}

.home__btn:hover {
  box-shadow: 1px 5px 5px 0px rgba(120, 111, 111, 0.75);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(120, 111, 111, 0.75);
  -moz-box-shadow: 1px 5px 5px 0px rgba(120, 111, 111, 0.75);
  transform: scale(1.05);
}

.cstmbtn1 {
  background-color: #5bc4be;
  color: black;
  padding: 15px 38px;
  margin: 26px 0px;
}

.cstmbtn2 {
  background-color: #a6192e;
  color: white;
  padding: 15px 38px;
  margin: 26px 0px;
}

.cstmbtn3 {
  background-color: chartreuse;
  color: black;
  padding: 15px 38px;
  margin: 26px 0px;
}

.cstmbtn4 {
  background-color: #22a1c4;
  color: black;
  padding: 15px 38px;
  margin: 26px 0px;
}

.cstmbtn5 {
  background-color: #f58220;
  color: black;
  padding: 15px 38px;
  margin: 26px 0px;
}

.cstmbtn6 {
  background-color: black;
  color: white;
  padding: 15px 38px;
  margin: 26px 0px;
}

.contentdata {
  margin: 100px auto;
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
}

.contentdata h1 {
  text-align: center;
  margin-bottom: 40px;
}

.contentdata p {
  color: #575757;
}

.home__heading {
  font-size: 24px;
}

.gridbox {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6%;
  row-gap: 60px;
}

.gridbox div {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.gridbox p {
  margin-top: 20px;
}

.gridbox a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 930px) {
  .gridbox {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 12%;
    row-gap: 70px;
  }
}

@media (max-width: 600px) {
  .gridbox {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 12%;
    row-gap: 40px;
  }
}
