.about{
    margin: 100px auto;
text-align: center;


  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  
}
.about h1{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #a6192e;
}
.about h2{
    margin-bottom: 30px;
}