.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  background-color: #a6192e;
  display: flex;
  color: white;
  justify-content: space-between;
  border-bottom: 4px solid #ffc72c;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
  flex-grow: 0.6;
}

.navbar__right {
  flex-grow: 0.4;
}

.navbar__logo {
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  margin-right: 20px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.navbar__title {
  font-size: 30px;
  font-weight: 600;
  color: white !important;
}

.navbar__listItem {
  font-weight: 500;
  transition: all 0.25s;
}

.navbar__listItem:hover {
  font-weight: 700;
}

.navbar__listItem:hover {
  cursor: pointer;
}

.navbar__contact {
  color: white !important;
}

.dropDown__nav {
  background-color: #a6192e;
  position: absolute;
  top: 80px;
  min-width: 200px;
  font-weight: 400;
  list-style: none;
}

.dropDown__nav__open {
  border-left: 4px solid #ffc72c;
  border-right: 4px solid #ffc72c;
  border-bottom: 4px solid #ffc72c;
}

.resources {
  display: flex;
  align-items: center;
}

.toggle {
  display: none !important;
}

.navbar__view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

@media (max-width: 700px) {
  .navbar__list {
    display: none;
  }

  .navbar__right__util {
    display: none;
  }

  .toggle {
    display: block !important;
    text-align: center;
  }

  .toggle .MuiButton-root {
    color: white !important;
  }

  .padding {
    padding-top: 20px;
  }

  .padding__remove {
    padding-top: 0px;
  }

  .open {
    display: block;
  }

  .dropDown__nav {
    position: inherit;
    list-style: none;
  }

  .dropDown__nav__open {
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
  }
}
