.questionPapers {
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.questionPapers__link {
  padding: 5px 0px;
  padding-left: 5px;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.questionPapers__link:hover {
  background-color: whitesmoke;
}
