.topdiv {
  margin-top: 90px;
  background-color: dimgray;
  color: white;
  min-height: 150px;
}
.container {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 20px;
}

.headingdiv h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  text-align: center;
}

.contentdiv {
  flex: 0 0 58.333333%;
}

.contentdiv p {
  font-size: 1rem;
  margin-left: 2vw;
  text-align: center;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
    padding-bottom: 50px;
  }
}
